<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aside</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Aside.css' %}">
</head>
<body>
  <aside>
    <div class="danhmucsp">
      <h3>Danh mục truyện</h3>
      <ul>
        <li><a href="#">Kinh Dị</a></li>
        <li><a href="#">Trinh thám</a></li>
        <li><a href="#">Lãng mạn tình cảm</a></li>
        <li><a href="#">Hài hước</a></li>
      </ul>
    </div>
  </aside>
</body>
</html>
