<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Books.css' %}" />
  </head>
  <body>
    <div class="Book_container">
      <img
        src="{% static 'imgs/truyen trinh tham demo.jpg' %}"
        alt="Book Cover"
      />
      <h3>Tên sách</h3>
      <p><b>Thể loại: </b>Truyện trinh thám</p>
    </div>
  </body>
</html>
